.buttonWithoutColor {
    margin: 8px;
    padding: 8px 16px;
    width: 80vw;
    height: 10vw;
    appearance: none;
    border: 2px solid #ec6661;
    border-radius: 8vw;
    background: white;
    color: #ec6661;
    font-family: inherit;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.buttonWithoutColor:hover {
    background: #ffd879;
    color: white;
    border: 0;
}

.buttonWithoutColor:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}