.buttonWithColor {
  margin: 8px;
  padding: 8px 16px;
  width: 50vw;
  height: 48px;
  appearance: none;
  border: 0;
  border-radius: 25px;
  background: #ec6661;
  color: #fff;
  font-size: 16px;
  align-self: end;
  justify-self: center;
  cursor: pointer;
}

.buttonWithColor:hover {
  background: #ffd879;
}

.buttonWithColor:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
