.section {
  margin: 0;
  padding: 0;
  width: auto;
  background: inherit;
  font-family: inherit;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto;
  row-gap: 0;
  column-gap: 0;
  justify-content: center;
  align-content: stretch;
}
