.header {
  margin: 12px 16px 12px 16px;
  padding: 0;
  width: auto;
  height: 40px;
  background: white;
  font-family: inherit;
  display: grid;
  grid-template-columns: auto auto 105px 1fr;
  grid-template-rows: auto;
  justify-content: start;
  align-content: center;
  align-items: start;
  justify-items: start;
}
